.theme-btn-wrap {
  width: 61.6px;
  height: 28px;
  position: fixed;
  left: 28px;
  bottom: 28px;
  border-radius: 25px;
  border: solid 1px var(--border-color);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color-main);
  overflow: hidden;
  transition: all 0.45s ease-in-out;
}

#themeBtn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--text-color-sec);
  transition: all 0.3s ease;
}
#themeBtn:hover, #themeBtn:active {
  background-color: var(--text-color);
}

.theme-icon {
  font-size: 15.5555555556px;
  color: var(--primary-color);
  padding: 0 6px;
}

#mobileNav {
  height: 8.4rem;
  background-color: var(--bg-color-sec);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
}
#mobileNav .nav-link {
  font-size: 2rem;
  margin: 0 1.2rem;
  cursor: pointer;
}
#mobileNav .nav-link i {
  transition: all 0.3s ease;
  color: var(--text-color-sec);
}
#mobileNav .nav-link i:hover, #mobileNav .nav-link i:active {
  color: var(--primary-color);
}
#mobileNav .nav-link:last-child {
  margin-right: 0;
}
#mobileNav .nav-link.active i {
  color: var(--primary-color);
}
#mobileNav .avatar {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
}

#nav {
  display: none;
  height: 100vh;
  width: 42rem;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--bg-color-sec);
  border-right: solid 1px var(--border-color);
  padding: 0 8rem;
}
#nav * {
  text-align: left;
}
#nav .nav-name,
#nav .nav-fullname,
#nav .nav-menu {
  width: 100%;
  text-align: left;
}
#nav .nav-name {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 1.5px;
}
#nav .nav-fullname {
  color: var(--secondary-color);
  font-size: 1.5rem;
}
#nav .nav-menu {
  margin-top: 2.4rem;
}
#nav .nav-link {
  padding: 1.2rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--text-color-sec);
  transition: all 0.3s ease;
}
#nav .nav-link.active, #nav .nav-link:hover, #nav .nav-link:active {
  letter-spacing: 2px;
  color: var(--text-color);
}

.distance-nav {
  margin-top: 8.4rem;
}

.content-wrap {
  position: relative;
  height: calc(100vh - 8.4rem);
}

section {
  display: none;
}

#home {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-avt {
  width: 24rem;
  height: 24rem;
  flex-basis: 24rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.8rem;
}
.home-avt-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("../assets/avt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 8px rgba(136, 136, 136, 0.25);
}

.home-content {
  justify-content: center;
  flex-grow: 1;
}

.home-name {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--text-color);
  font-size: 3.8rem;
  text-align: center;
}

.home-intro {
  max-width: 48rem;
  margin: 2.4rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--text-color-sec);
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.75px;
  text-align: center;
}

.home-social {
  justify-content: center;
  margin: 0 -0.8rem;
}

.social-item {
  margin: 0 0.8rem;
}
.social-item i {
  font-size: 2.2rem;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.social-item i:hover, .social-item i:active {
  color: var(--primary-color);
}

@media only screen and (min-width: 992px) {
  #mobileNav {
    display: none;
  }

  #nav {
    display: flex;
  }

  .content-wrap {
    height: 100vh;
  }

  .distance-nav {
    margin-top: 0;
    margin-left: 42rem;
  }

  #home {
    flex-direction: row;
  }

  .home-avt {
    margin-bottom: 0;
    margin-right: 4.8rem;
  }
  .home-intro, .home-name {
    text-align: left;
  }
  .home-social {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
