$nav-height: 8.4rem;
$nav-width: 42rem;
$theme-size: 28px;
@mixin transition {
  transition: all 0.3s ease;
}

// ----------- theme button -------------
.theme-btn-wrap {
  width: $theme-size * 2.2;
  height: $theme-size;

  position: fixed;
  left: $theme-size;
  bottom: $theme-size;

  border-radius: 25px;
  border: solid 1px var(--border-color);
  box-shadow: 0px 3px 8px 0px rgba(#000, 0.1);
  background-color: var(--bg-color-main);

  overflow: hidden;
  transition: all 0.45s ease-in-out;
}

#themeBtn {
  width: $theme-size - 2px;
  height: $theme-size - 2px;
  border-radius: 50%;
  background-color: var(--text-color-sec);
  @include transition;

  &:hover,
  &:active {
    background-color: var(--text-color);
  }
}

.theme-icon {
  font-size: $theme-size / 1.8;
  color: var(--primary-color);
  padding: 0 6px;
}

// ----------- mobile navigation -------------
#mobileNav {
  height: $nav-height;
  background-color: var(--bg-color-sec);
  box-shadow: var(--box-shadow);

  position: fixed;
  top: 0;
  left: 0;

  .nav-link {
    font-size: 2rem;
    margin: 0 1.2rem;

    & i {
      @include transition();
      color: var(--text-color-sec);
      &:hover,
      &:active {
        color: var(--primary-color);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      i {
        color: var(--primary-color);
      }
    }
  }

  .avatar {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
  }
}

// ----------- nav -------------
.nav {
  display: none;
  height: 100vh;
  width: $nav-width;

  position: fixed;
  left: 0;
  top: 0;

  background-color: var(--bg-color-sec);
  border-right: solid 1px var(--border-color);
  padding: 0 8rem;

  & * {
    text-align: left;
  }
}

.nav-name,
.nav-fullname,
.nav-menu {
  width: 100%;
  text-align: left;
}

.nav-name {
  font-size: 2.8rem;
  font-weight: 900;
  line-height: 1.8;
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 1.5px;
}

.nav-fullname {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.nav-menu {
  margin-top: 2.4rem;

  &-item {
    padding: 1.2rem 0;
    transition: all ease 0.35s;
  }
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color-sec);
  @include transition();

  &:hover,
  &:active {
    letter-spacing: 2px;
    color: var(--text-color);
  }
}

// ----------- content wrap -------------
.distance-nav {
  margin-top: $nav-height;
}

.content-wrap {
  height: 100%;
  position: relative;
}

// ----------- home section -------------
.home {
  max-width: 95%;
}

.home-avt {
  width: 24rem;
  height: 24rem;
  overflow: hidden;
  position: relative;

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../assets/avt.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 8px rgba(rgb(133, 133, 133), 0.25);
  }
}

.home-content {
  margin-left: 2.4rem;
}

// ----------- responsive -------------
@media only screen and (min-width: 992px) {
  #mobileNav {
    display: none;
  }

  .nav {
    display: flex;
  }

  .distance-nav {
    margin-top: 0;
    margin-left: $nav-width;
  }
}
