$nav-height: 8.4rem;
$nav-width: 42rem;
$theme-size: 28px;
$max-width: 800px;
@mixin transition {
  transition: all 0.3s ease;
}

// ----------- project detail dialog -------------
#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.35;
  z-index: 1;
}

#projectDialog {
  display: none;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 350px;
  max-width: 767px;
  background-color: var(--bg-color-main);
  border-radius: 6px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.4), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  z-index: 2;
}

.dialog-header,
.dialog-content {
  padding: 1.2rem 2.4rem;
}

.dialog-title {
  font-size: 2.4rem;
  color: var(--text-color);
  font-weight: 500;
}

.dialog-header {
  border-bottom: solid 1px var(--border-color);

  i {
    font-size: 2.4rem;
    color: var(--text-color);
    @include transition();

    &:hover,
    &:active {
      transform: rotate(360deg);
    }
  }
}

.dialog-content-item {
  margin: 1.4rem 0;

  .label {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.6rem;
  }

  .content {
    color: var(--text-color-sec);
    font-size: 1.6rem;
    font-weight: 400;
  }
}

// ----------- theme button -------------
.theme-btn-wrap {
  z-index: 999;
  width: $theme-size * 2.2;
  height: $theme-size;

  position: fixed;
  left: $theme-size;
  bottom: $theme-size;

  border-radius: 25px;
  border: solid 1px var(--border-color);
  box-shadow: 0px 3px 8px 0px rgba(#000, 0.1);
  background-color: var(--bg-color-main);

  overflow: hidden;
  transition: all 0.45s ease-in-out;
}

#themeBtn {
  width: $theme-size - 2px;
  height: $theme-size - 2px;
  border-radius: 50%;
  background-color: var(--text-color-sec);
  @include transition;

  &:hover,
  &:active {
    background-color: var(--text-color);
  }
}

.theme-icon {
  font-size: $theme-size / 1.8;
  color: var(--primary-color);
  padding: 0 6px;
}

// ----------- mobile navigation -------------
#mobileNav {
  box-shadow: var(--box-shadow);
  padding-bottom: $nav-height;
  position: relative;

  .nav-link {
    font-size: 2rem;
    margin: 0 1.2rem;
    cursor: pointer;

    & i {
      @include transition();
      color: var(--text-color-sec);
      &:hover,
      &:active {
        color: var(--primary-color);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      i {
        color: var(--primary-color);
      }
    }
  }

  .avatar {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
  }

  .nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: $nav-height;
    background-color: var(--bg-color-sec);
    width: 100%;
    z-index: 9999;
  }
}

// ----------- nav -------------
#nav {
  display: none;
  height: 100vh;
  width: $nav-width;

  position: fixed;
  left: 0;
  top: 0;

  background-color: var(--bg-color-sec);
  border-right: solid 1px var(--border-color);
  padding: 0 8rem;

  & * {
    text-align: left;
  }

  .nav-name,
  .nav-fullname,
  .nav-menu {
    width: 100%;
    text-align: left;
  }

  .nav-name {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 1.8;
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: 1.5px;
  }

  .nav-fullname {
    color: var(--secondary-color);
    font-size: 1.5rem;
  }

  .nav-menu {
    margin-top: 2.4rem;
  }

  .nav-link {
    padding: 1.2rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color-sec);
    @include transition();

    &.active,
    &:hover,
    &:active {
      letter-spacing: 2px;
      color: var(--text-color);
    }
  }
}

// ----------- content wrap -------------

.content-wrap {
  min-height: calc(100vh - #{$nav-height});
}

section {
  display: none;
}

// ----------- home section -------------
.home {
  max-width: $max-width;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.home-avt {
  width: 24rem;
  height: 24rem;
  flex-basis: 24rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.8rem;

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url('../assets/avt.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 8px rgba(#888, 0.25);
  }
}

.home-content {
  justify-content: center;
  flex-grow: 1;
}

.home-name {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--text-color);
  font-size: 3.4rem;
  text-align: center;
}

.home-intro {
  max-width: 48rem;
  margin: 2.4rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--text-color-sec);
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.75px;
  text-align: center;
}

.home-social {
  justify-content: center;
  margin: 0 -0.8rem;
}

.social-item {
  margin: 0 0.8rem;

  i {
    font-size: 2.2rem;
    color: var(--text-color);
    @include transition();

    &:hover,
    &:active {
      color: var(--primary-color);
    }
  }
}

// ----------- about section -------------
.about {
  max-width: $max-width;
  margin: 1.6rem auto;
  padding: 0 1.6rem;
}

.about-img {
  width: 100%;
  max-height: 40rem;
  box-shadow: 0 0px 14px 0 rgba(#000, 0.15);
  border-radius: 16px;
  @include transition();
  &:hover,
  &:active {
    border-radius: 0;
  }
}

.about-name {
  font-size: 2rem;
  margin: 1.2rem 0;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--text-color);
}

.about-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.2rem;
}

.about-intro-item,
.about-skill-item * {
  font-size: 1.6rem;
  color: var(--text-color-sec);
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.about-intro-item {
  margin-bottom: 1.2rem;
}

.about-skill-item {
  margin-bottom: 1.2rem;
  .label {
    color: var(--text-color);
    font-weight: 500;
  }
}

// ----------- portfolio -------------
$portfolioItemTrans: all 0.5s;

.portfolio {
  max-width: $max-width;
  width: 90vw;
  margin: 0 auto;
  padding: 5rem 0.8rem;

  &-label {
    padding: 1.2rem 1.6rem;
    width: 16rem;
    background-color: var(--bg-color-sec);
    text-align: center;
    color: var(--text-color-sec);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: solid 1px var(--border-color);
  }

  &-header {
    flex-direction: column;
    margin: 2.4rem 0;

    .label {
      font-size: 2.4rem;
      color: var(--primary-color);
    }
  }

  &-menu {
    margin: 1.4rem -1.2rem;

    li {
      margin: 0 1.2rem;
      font-size: 1.5rem;
      font-weight: 500;
      cursor: pointer;
      color: var(--text-color-sec);
      @include transition();

      &.active,
      &:hover,
      &:active {
        color: var(--text-color);
        letter-spacing: 2px;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3.2rem;
  }

  &-item {
    width: 100%;
    height: 350px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #222;
      transition: $portfolioItemTrans;
      opacity: 0;
      z-index: 1;
    }

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
      transition: $portfolioItemTrans;
    }

    &:hover,
    &:active {
      img {
        transform: scale(1.15);
      }

      &::before {
        opacity: 0.55;
      }

      & .portfolio-item-detail {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-item-detail {
    width: 100%;
    height: 100%;
    padding: 1rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: $portfolioItemTrans;
  }
}

.project {
  &-name {
    font-size: 2.4rem;
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 0.75px;
  }

  &-tech {
    color: #fcfcfc;
    font-size: 1.6rem;
    margin: 1.8rem 0;
  }

  &-icon {
    font-size: 2.8rem;
    color: #fcfcfc;
    margin: 0 1.2rem;

    @include transition();
    &:hover,
    &:active {
      transform: scale(1.15);
    }
  }
}

// ----------- responsive -------------

@media only screen and (min-width: 1200px) {
  // ----------- navigation -------------
  #mobileNav {
    display: none;
  }

  #nav {
    display: flex;
  }

  .content-wrap {
    margin-left: $nav-width;
    min-height: 100vh;
  }

  // ----------- home -------------
  .home {
    flex-direction: row;
  }

  .home {
    &-avt {
      margin-bottom: 0;
      margin-right: 4.8rem;
    }

    &-intro,
    &-name {
      text-align: left;
    }

    &-social {
      justify-content: flex-start;
    }
  }

  // ----------- about me -------------
  .about-content {
    grid-template-columns: 2fr 3fr;
    grid-gap: 1.6rem;
  }

  .about-intro-item,
  .about-skill-item {
    font-size: 1.5rem;
  }

  // ----------- portfolio -------------
  .portfolio {
    &-header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media only screen and (min-width: 767px) {
  // ----------- dialog -------------
  .dialog {
    min-width: 576px;
  }
}
